<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>게시글 작성하기</h1>
    <form method="post" action="/board/write">
        제목: <input type="text" name="title">
        작성자: <input type="text" name="writer">
        내용: <textarea cols="50" rows="10" name="content"></textarea>
        <input type="submit" value="저장하기">

    </form>
</body>
</html>